<section id="banner">
    <h1>Cadastro de Usuarios</h1>
  </section>
  <section id="one" class="wrapper">
    <div class="inner">
      <div class="table-wrapper">
        <form [formGroup]="formulario" novalidate>
          <div class="row uniform">
            <div class="6u 12u$(xsmall)">
              <label for="">Nome</label>
              <input type="text" placeholder="Nome" formControlName="nome" />
            </div>
            <div class="6u 12u$(xsmall)">
                <label for="">E-mail</label>
                <input type="text" placeholder="E-mail" formControlName="email" />
              </div>
              <div class="6u 12u$(xsmall)">
                  <label for="">Login</label>
                  <input type="text" placeholder="Login" formControlName="login" />
                </div>
                <div class="6u 12u$(xsmall)">
                    <label for="">Senha</label>
                    <input type="text" placeholder="Senha" formControlName="senha" />
                  </div>
            <div class="12u$">
              <ul class="actions">
                <li>
                  <input type="button" value="Salvar" (click)="salvar(formulario)" [disabled]="!formulario.valid" />
                </li>
                <li>
                  <input type="reset" value="Limpar" class="alt" />
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>